importlib-resources==6.1.0
pywin32-ctypes==0.2.2
fuzzywuzzy==0.18.0
tifffile==2023.9.26
platformdirs==3.11.0
psutil==5.9.6
pygame-menu==4.4.3
jsonschema-specifications==2023.7.1
pygame-widgets==1.1.1
certifi==2023.7.22
pygame==2.5.2
trove-classifiers==2023.9.19
